In [86]:
import os,glob,json

In [87]:
data_clients = glob.glob("data_cards/*")

In [88]:
cards_clients = [ json.load(open(f)) for f in data_clients ]

In [89]:
client_id_list = []
card_id_list = []
expire_date_list = []
credit_limit_list = []
card_brand_list = []
for cards_client in cards_clients:
    values = cards_client['values']

    card_ids = values.keys()

    for icard in card_ids:
        card_id_list.append(icard)
        client_id_list.append(cards_client['client_id'])
        expire_date_list.append(values[icard]['expires'])
        credit_limit_list.append(values[icard]["credit_limit"])
        card_brand_list.append(values[icard]["card_brand"])

In [90]:
import pandas as pd

In [91]:
df_expires = pd.DataFrame({'client_id':client_id_list,
                           'card_id':card_id_list,'expire_date':expire_date_list,
                            'credit_limit':credit_limit_list,'card_brand':card_brand_list})
# expires date MM/YYYY 
df_expires['expire_date'] = pd.to_datetime(df_expires['expire_date'],format='%m/%Y')
# credit_limit $ format to float
df_expires['credit_limit'] = df_expires['credit_limit'].str.replace("$","").astype(float)

AttributeError: Can only use .str accessor with string values!

In [78]:
df_expires.to_csv("df_cards.csv",index=False)

In [79]:
df_expires

     client_id card_id expire_date  credit_limit  card_brand
0         1587    3034  2022-07-01       30900.0        Amex
1         1587    3996  2020-02-01       35968.0  Mastercard
2          362    1129  2024-09-01       11868.0        Visa
3          362    5474  2024-09-01        9708.0        Visa
4          206    3053  2024-01-01       11300.0  Mastercard
...        ...     ...         ...           ...         ...
3708       884     145  2012-05-01        1112.0        Visa
3709       884    2237  2023-07-01        8643.0        Visa
3710       884    4748  2020-11-01        8800.0        Visa
3711         5    1178  2022-01-01       18894.0  Mastercard
3712         5    3283  2024-10-01       12286.0        Visa

[3713 rows x 5 columns]

In [80]:
# query_1: The card_id with the latest expiry date and the lowest credit limit amount.


df_expires.sort_values(by=['expire_date','credit_limit'],ascending=[False,True]).head(10)

     client_id card_id expire_date  credit_limit  card_brand
2405       171    4490  2024-12-01          46.0  Mastercard
1662      1873     306  2024-12-01          60.0        Visa
272       1985    4085  2024-12-01         625.0  Mastercard
297        249    4292  2024-12-01        1500.0  Mastercard
3182       744    4158  2024-12-01        1816.0  Mastercard
90        1514      78  2024-12-01        1846.0  Mastercard
2029      1430    2813  2024-12-01        1936.0  Mastercard
3429      1555    3190  2024-12-01        2300.0  Mastercard
2840      1921    3810  2024-12-01        2900.0  Mastercard
455        746     958  2024-12-01        6800.0        Amex

In [81]:
# query_2: The client_id that will retire within a year that has the lowest credit score and highest debt.